dash==2.18.2
attrs
certifi
charset-normalizer
click
click-plugins
cligj
cycler
fiona
geopandas
idna
importlib-metadata
kiwisolver
matplotlib
numpy
openpyxl
packaging
pandas
Pillow
plotly
plotly-express
pyparsing
pyproj
python-dateutil
pytz
requests
shapely
six
tenacity
typing_extensions
urllib3
zipp
gunicorn
graphs
